<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static",filename="css/" + data.style + ".css")}}">
    <title>{{i18n.resume}}</title>
    <style>
        @media print {
        .no-print {
            display: none;
        }
        }
    </style>
</head>
<body>
    <div class="flex flex-between">
        <div>
            <h1>{{i18n.resume}}</h1>
            <h2 style="color: lightcoral;">Personal Resume</h2>
        </div>
        <div class="flex gap-8 center">
            <div>
                <button class="no-print c-button" onclick="window.print()">{{i18n.print}}</button>
            </div>
            <a href="/edit"><button class="no-print c-button edit-btn">{{i18n.edit}}</button></a>
        </div>
    </div>
    <div>
        <fieldset class="c-fieldset">
            <legend><h2>{{i18n.info}}</h2></legend>
            <div class="flex flex-between">
                <ul class="grid-2 flex-1 grid-gap">
                    {% for key, value in data.info.items() %}
                    {% if key != 'photo' %}
                    <li class="flex flex-align-center">
                        <div class="flex margin-after-8 bold">
                            <div class="label-4">{{i18n[key]}}</div>
                            :
                        </div>
                        {{value}}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% if data.info.photo %}
                <div class="photo-btn" style="cursor: auto;">
                    <img src="{{url_for("static", filename=data.info.photo)}}" alt="Photo">
                </div>
                {% endif%}
            </div>
        </fieldset>
    </div>
    <div style="margin-top: 8px;">
        <h2 class="label-4">{{i18n.edu_background}}</h2>
        {% for education in data.education %}
        <div style="margin-top: 8px; border-left: 2px solid lightcoral; margin-left: 16px; margin-right: 16px; padding: 4px;">
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <div class="flex flex-align-center">
                        <div class="flex margin-after-8 bold">
                            <div class="label-4">{{i18n.school}}</div>
                            :
                        </div>
                        {{education.school}}
                        <span style="color: gray; margin-left: 8px; font-size: 14px;">{{education.school_original_name}}</span>
                    </div>
                    
                </div>
                <div>{{education.duration}}</div>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <div class="flex flex-align-center">
                    <div class="flex margin-after-8 bold">
                        <div class="label-4">{{i18n.major}}</div>
                        :
                    </div>
                    {{education.major}}
                    <span style="color: gray; margin-left: 8px; font-size: 14px;">{{education.major_orginal_name}}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <h2 class="label-4">{{i18n.skill}}</h2>
        <div style="margin-left: 8px;">
            {% for category, skills in data.skill.items() %}
            {% if skills %}
            <h4 style="color: lightcoral;">{{ i18n.get('cate_' + category, category) }}</h4>
            <ul class="c-ul">
                {% for skill in skills %}
                <li>{{skill}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div>
        <h2 class="label-4">{{i18n.experience}}</h2>
        <ul>
            {% for experience in data.experience %}
            <li style="margin-bottom: 8px;">
                <div style="display: flex; gap: 4px;">
                    <h4>{{experience.title}}</h4> - <span>{{experience.duration}}</span>
                </div>
                <div>
                    <h5 class="label-4">{{i18n.project_background}}</h5>
                    <p class="c-p">
                        {{experience.background}}
                    </p>
                    <h5 class="label-4">{{i18n.project_responsibilities}}</h5>
                    <p class="c-p">
                        {{experience.responsibilities}}
                    </p>
                    <h5 class="label-4">{{i18n.project_technology}}</h5>
                    <div style="display: flex; gap: 4px; flex-wrap: wrap;">
                        {% for tech in experience.technology_use %}
                        <div class="tag">{{tech}}</div>
                        {% endfor %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2 class="label-4">{{i18n.bio}}</h2>
        <p>
            {{ data.bio }}
        </p>
    </div>
</body>
<script>
    document.addEventListener('keydown', function (event) {
      if (event.key === 'p' && (event.ctrlKey || event.metaKey)) {
        event.preventDefault();
        window.print();
      }
    });
  </script>
</html>