<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static",filename="css/basic.css")}}">
    <title>{{i18n.resume}}</title>
</head>
<body>
    <div class="flex flex-between">
        <h1>{{i18n.resume}}</h1>
        <div class="flex gap-8 center">
            <a href="/"><button class="c-button">{{i18n.generate_resume}}</button></a>
            <form action="?language" method="post">
                <input type="hidden" name="form_id" value="language_form">
                <select name="language" class="c-select" id="language" onchange="this.form.submit()">
                    {% for language in languages %}
                    <option value="{{language}}" {% if language == data.language %}selected{% endif %}>{{language}}</option>
                    {% endfor %}
                </select>
            </form>
            <form action="?style" method="post">
                <input type="hidden" name="form_id" value="style_form">
                <select name="style" class="c-select" id="style" onchange="this.form.submit()">
                    {% for style in styles %}
                    <option value="{{style}}" {% if style == data.style %}selected{% endif %}>{{style}}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
    <fieldset class="c-fieldset">
        <legend><h2>{{i18n.info}}</h2></legend>
        <div class="flex flex-between">
            <ul class="grid-2 flex-1 grid-gap">
                {% for key, value in data.info.items() %}
                {% if key != 'photo' %}
                <form action="?edit" method="post">
                    <li class="flex flex-align-center">
                        <div class="flex margin-after-8 bold">
                            <label class="label-4" for="{{key}}">{{i18n.get(key, key)}}</label>
                            :
                        </div>
                        <input class="c-input" type="text" name="info[{{key}}]" value="{{value}}" onchange="syncInputs(event)">
                        <input type="hidden" name="delete-info" value="{{key}}">
                        <input type="hidden" name="form_id" value="edit_form">
                        <button type="submit" name="action" value="delete_info" class="c-button c-btn-small warning-btn">{{i18n.delete}}</button>
                    </li>
                </form>
                {% endif %}
                {% endfor %}
            </ul>
            <div>
                <button type="button" onclick="triggerFileInput()" class="photo-btn">
                    <img src="{{url_for("static", filename=data.info.photo)}}" alt="Photo" id="photo">
                </button>
            </div>
        </div>
        <fieldset class="c-fieldset">
            <legend><h3>{{i18n.add_more}}</h3></legend>
            <form action="?edit" method="post">
                <div class="flex gap-8">
                    <input type="hidden" name="form_id" value="edit_form">
                    <input type="text" class="c-input" name="info-key" id="info-key">
                    <button type="submit" name="action" value="add_info" class="c-button">{{i18n.add}}</button>
                </div>
            </form>
        </fieldset>
    </fieldset>
    <div style="margin-top: 8px;">
        <h2 class="label-4">{{i18n.edu_background}}</h2>
        {% for education in data.education %}
        <div style="margin-top: 8px; border-left: 2px solid lightcoral; margin-left: 16px; margin-right: 16px; padding: 4px;">
            <div style="display: flex; justify-content: space-between; margin-bottom: 8px;">
                <div style="flex: 1;">
                    <div class="flex flex-align-center" >
                        <div class="flex margin-after-8 bold">
                            <div class="label-4">{{i18n.school}}</div>
                            :
                        </div>
                        <input type="text" name="education[{{loop.index - 1}}][school]" style="flex: 1;" class="c-input" value="{{education.school}}" onchange="syncInputs(event)">
                        <span style="color: gray; margin-left: 8px; font-size: 14px; flex: 1;"><input type="text" class="c-input" name="education[{{loop.index - 1}}][school_original_name]" onchange="syncInputs(event)" value="{{education.school_original_name}}"></span>
                    </div>
                    
                </div>
                <div style="margin-left: 8px; display: flex; justify-content: center; align-items: center; gap: 4px;">
                    <input type="month" data-index="{{loop.index - 1}}" onchange="updateDuration(event, 'education')" value="{{education.duration.split(" - ")[0]}}" name="education[{{loop.index - 1}}][start]" class="c-input">
                    <strong>-</strong>
                    <input type="month" onchange="updateDuration(event, 'education')" data-index="{{loop.index - 1}}" value="{{education.duration.split(" - ")[1]}}" name="education[{{loop.index - 1}}][end]" class="c-input">
                </div>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <div class="flex flex-align-center" style="width: 100%;">
                    <div class="flex margin-after-8 bold">
                        <div class="label-4">{{i18n.major}}</div>
                        :
                    </div>
                    <input type="text" name="education[{{loop.index - 1}}][major]" style="width: 50%;" value="{{education.major}}" class="c-input" onchange="syncInputs(event)">
                    <span style="color: gray; margin-left: 8px; font-size: 14px; flex: 1;"><input type="text" class="c-input" name="education[{{loop.index - 1}}][major_orginal_name]" onchange="syncInputs(event)" value="{{education.major_orginal_name}}"></span>
                </div>
            </div>
            <div>
                <form action="?education" method="post" style="text-align: right; margin-top: 8px;">
                    <input type="hidden" name="form_id" value="education_form">
                    <button type="submit" class="c-button warning-btn" name="action" value="delete">{{i18n.delete}}</button>
                </form>
            </div>
        </div>
        {% endfor %}
        <form action="?education" method="post" style="margin: 20px; text-align: right;">
            <input type="hidden" name="form_id" value="education_form">
            <button type="submit" class="c-button" name="action" value="add">{{i18n.add}}</button>
        </form>
    </div>
    <div>
        <h2 class="label-4">{{i18n.skill}}</h2>
        <div style="margin-left: 8px;">
            {% for category, skills in data.skill.items() %}
            <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 8px;">
                <h4 style="color: lightcoral;">{{ i18n.get('cate_' + category, category) }}</h4>
                <form action="?edit" method="post" class="skill-form">
                    <input type="hidden" name="skill_key" value="{{ category }}">
                    <input type="hidden" name="skill_index" value="0">
                    <input type="hidden" name="form_id" value="skill_form">
                    <button type="submit" class="c-circle" name="action" value="add">✔</button>
                    <button type="submit" class="c-circle warning-btn" name="action" value="delete_key">🗑</button>
                </form>
            </div>
            <ul class="c-ul" style="gap: 4px; display: flex; flex-direction: column; margin: 0; padding: 0; padding-left: 8px;">
                {% for skill in skills %}
                <li style="list-style: none; padding: 0; margin: 0;">
                    <form action="?edit" method="post" class="skill-form">
                        <input type="hidden" name="skill_key" value="{{ category }}">
                        <input type="hidden" name="skill_index" value="{{ loop.index }}">
                        <input type="hidden" name="form_id" value="skill_form">
                        <div style="display: flex; gap: 4px;">
                            <input type="text" name="{{ category }}[]"class="c-input" value="{{ skill }}" data-index="{{ loop.index }}" onchange="syncSkills(event)">
                            <button type="submit" class="c-circle" name="action" value="add">+</button>
                            <button type="submit" class="c-circle warning-btn" name="action" value="delete">-</button>
                        </div>
                    </form>
                </li>
                {% endfor %}
            </ul>
            {% if loop.index < loop.length %}
            <div style="width: 100%; border-top: 2px dashed lightcoral; margin-bottom: 8px; margin-top: 8px;"></div>
            {% endif %}
            {% endfor %}
            <form action="?skill" method="post" style="display: flex; gap: 8px; margin: 8px;">
                <div>
                    <input type="text" class="c-input" name="skill_key">
                </div>
                <input type="hidden" name="skill_index" value="0">
                <input type="hidden" name="form_id" value="skill_form">
                <div>
                    <button type="submit" class="c-button" name="action" value="add_more">{{i18n.add_more}}</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <h2 class="label-4">{{i18n.experience}}</h2>
        <ul style="padding: 0; padding-left: 8px;">
            {% for experience in data.experience %}
            <li style="margin-bottom: 8px; list-style: none;">
                <fieldset class="c-fieldset">
                    <div style="display: flex; gap: 4px; align-items: center;">
                        <input type="text" style="flex: 3;" value="{{experience.title}}" class="c-input" name="experience[{{loop.index - 1}}][title]" onchange="syncInputs(event)">
                        <input type="month" style="flex: 1;" name="experience[{{loop.index - 1}}][start]" onchange="updateDuration(event, 'experience')" class="c-input" id="" value="{{experience.duration.split(" - ")[0]}}">
                        -
                        <input type="month" style="flex: 1;" name="experience[{{loop.index - 1}}][end]" onchange="updateDuration(event, 'experience')" class="c-input" id="" value="{{experience.duration.split(" - ")[1]}}">
                    </div>
                    <div>
                        <h5 class="label-4">{{i18n.project_background}}</h5>
                        <div>
                            <textarea name="experience[{{loop.index - 1}}][background]" id="experience[{{loop.index - 1}}][background]" rows="1" class="c-textarea" onchange="syncInputs(event)">{{experience.background}}</textarea>
                        </div>
                        <h5 class="label-4">{{i18n.project_responsibilities}}</h5>
                        <div>
                            <textarea name="experience[{{loop.index - 1}}][responsibilities]" id="experience[{{loop.index - 1}}][responsibilities]" rows="1" class="c-textarea" onchange="syncInputs(event)">{{experience.responsibilities}}</textarea>
                        </div>
                        <h5 class="label-4">{{i18n.project_technology}}</h5>
                        <div style="display: flex; gap: 4px;">
                            {% for tech in experience.technology_use %}
                            <div class="tag" style="display: flex;">
                                {{tech}}
                                <form action="?experience" method="post">
                                    <input type="hidden" name="form_id" value="experience_form">
                                    <button type="submit" style="font-size: 12px; background: transparent; border: none; cursor: pointer;">X</button>
                                </form>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </fieldset>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <form action="?edit" id="form1" method="post" enctype="multipart/form-data">
        <div class="flex">
            <div style="width: 90%;">
                <label for="bio"><h2 class="label-4">{{i18n.bio}}</h2></label>
                 <textarea name="bio" class="c-textarea" id="bio" rows="1" style="margin-bottom: 120px;">{{data.bio}}</textarea>
            </div>
        </div>
        {% for key, value in data.info.items() %}
        {% if key != 'photo' %}
        <input type="hidden" name="info[{{key}}]" value="{{value}}">
        {% endif %}
        {% endfor %}
        {% for education in data.education %}
        <input type="hidden" name="education[{{loop.index - 1}}][school]" style="flex: 1;" value="{{education.school}}">
        <input type="hidden" name="education[{{loop.index - 1}}][school_original_name]" value="{{education.school_original_name}}">
        <input type="hidden" name="education[{{loop.index - 1}}][duration]" value="{{education.duration}}">
        <input type="hidden" name="education[{{loop.index - 1}}][major]" value="{{education.major}}">
        <input type="hidden" name="education[{{loop.index - 1}}][major_orginal_name]" value="{{education.major_orginal_name}}">
        {% endfor %}
        {% for category, skills in data.skill.items() %}
        {% for skill in skills %}
                <input type="hidden" id="{{ category }}[]-{{ loop.index }}" name="{{ category }}[]" value="{{ skill }}">
            {% endfor %}
        {% endfor %}
        {% for experience in data.experience %}
        <input type="hidden" value="{{experience.title}}" name="experience[{{loop.index - 1}}][title]">
        <input type="hidden" value="{{experience.time}}" name="experience[{{loop.index - 1}}][duration]">
        <input type="hidden" value="{{experience.background}}" name="experience[{{loop.index - 1}}][background]">
        <input type="hidden" value="{{experience.responsibilities}}" name="experience[{{loop.index - 1}}][responsibilities]">
        {% endfor %}
        <input type="file" id="photo-input" name="photo" accept="image/*" style="display: none;" onchange="handleFileChange(event)">
        <input type="hidden" name="form_id" value="edit_form">
        <div class="footer">
            <button type="submit" name="action" value="cancel" class="c-button warning-btn">{{i18n.cancel}}</button>
            <button type="submit" name="action" value="save" class="c-button">{{i18n.save}}</button>
        </div>
    </form>
    <script>
        function triggerFileInput() {
            document.getElementById('photo-input').click();
        }

        function handleFileChange(event) {
            const file = event.target.files[0];
            if (file) {
                if (!file.type.startsWith('image/')) {
                    alert('Please select a valid image file.');
                    return;
                }

                const reader = new FileReader();
                reader.onload = function (e) {
                    document.querySelector('button img#photo').src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        }

        function syncInputs(event) {
            const sourceInput = event.target;

            const inputName = sourceInput.name;

            const inputs = document.querySelectorAll(`input[name="${inputName}"]`);

            inputs.forEach(input => {
                if (input !== sourceInput) {
                    input.value = sourceInput.value;
                }
            });
        }

        function syncSkills(event) {
            const sourceInput = event.target;

            const index = sourceInput.dataset.index;

            const inputId = sourceInput.name + "-" + index;
            
            const targetInput = document.getElementById(inputId);

            if (targetInput) {
                targetInput.value = sourceInput.value;
            }
        }

        function updateDuration(event, name) {
            const sourceInput = event.target;

            const index = sourceInput.dataset.index;

            const startInput = document.querySelector(`input[name="${name}[${index}][start]"]`);
            const endInput = document.querySelector(`input[name="${name}[${index}][end]"]`);

            const durationInput = document.querySelector(`input[name="${name}[${index}][duration]"]`);

            if (durationInput) {
                durationInput.value = `${startInput.value} - ${endInput.value}`;
            }
        }

    </script>
</body>
</html>